<div  id='#loginForm'>
    <span>Enter your github credentials:</span>
    <form onsubmit="event.preventDefault(); onSubmit(this);">
        <input type="text" id="login" name="login" placeholder="Github username" required >
        <input type="password" id="password" name="login" placeholder="Github password/token" required >
        <input type="submit" value="Access">
    </form>
</div>

<script>
    window.page = `${page}`; //'_site/index.html'; 
    //`${page}`; // placeholder by the actual page url (for instance index.html or getting-started.html),
</script>
    
<script src="/assets/js/github.js"></script>
