<!DOCTYPE html>
<html>
    <head>
        {% include head.html %} 
        <script src="{{ site.baseurl | replace: '//', '/' }}/js/build/global.min.js"></script>
        {% if site.infinite_scroll == true %}
        <script src="{{ site.baseurl | replace: '//', '/' }}/js/build/infinite.min.js"></script>
        {% endif %}
    </head>
    <body class="index has-material-sidebar-left">
        <header class="head">
           {% include nav.html %}
        </header>
        {% include search.html %}
        
        <script src="{{ site.baseurl | replace: '//', '/' }}/js/build/global.min.js"></script>
        <script src="{{ site.baseurl | replace: '//', '/' }}/js/build/infinite.min.js"></script>
    </body>
</html>